<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario Producto</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
	rel="stylesheet">

<link rel="stylesheet"
	th:href="@{/css/sidebar.css}">

</head>

<body>

	<!-- SIDEBAR -->
	<div th:replace="~{fragments/sidebar :: sidebar}"></div>

	<!-- CONTENIDO -->
	<div id="contenido" class="container mt-4">

		<h2 class="text-center mb-4">Formulario de Producto</h2>

		<div class="card shadow p-4">

			<form th:action="@{/producto/procesar}"
				th:object="${producto}"
				method="post">

				<!-- ID oculto -->
				<input type="hidden" th:field="*{codProducto}" />

				<div class="mb-3">
					<label class="form-label">Marca</label>

					<input type="text"
						class="form-control"
						th:field="*{nomMarca}"
						placeholder="Ingrese marca"
						required>
				</div>

				<div class="mb-3">
					<label class="form-label">Precio</label>

					<input type="number"
						step="0.01"
						class="form-control"
						th:field="*{precio}"
						placeholder="Ingrese precio"
						required>
				</div>

				<div class="mb-3">
					<label class="form-label">Tamaño</label>

					<input type="text"
						class="form-control"
						th:field="*{tamano}"
						placeholder="Ej: 10 Kg">
				</div>

				<div class="d-flex justify-content-between">

					<a class="btn btn-secondary"
						href="javascript:history.back()">

						Regresar

					</a>

					<button type="submit"
						class="btn btn-success">

						Guardar

					</button>

				</div>

			</form>

		</div>

	</div>

	<script th:src="@{/js/sidebar.js}"></script>

</body>
</html>