body {
	overflow-x: hidden;
}

#sidebar {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: #212529;
	color: white;
	transition: .3s;
	padding-top: 20px;
}

#sidebar.oculto {
	margin-left: -250px;
}

#sidebar h4 {
	color: white;
}

#sidebar a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 12px 20px;
	font-size: 16px;
}

#sidebar a:hover {
	background: #343a40;
}

#btnMenu {
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 1000;
}

#contenido {
	margin-left: 250px;
	transition: .3s;
	padding: 25px;
}

#contenido.expandido {
	margin-left: 0;
}